.main-container{
    width: 960px;
    margin-left: -480px;
    position: relative;
    left: 50%;
}
.main-container h2{
    font-size: 6em;
    font-family: 'Raleway', Calibri, Arial, sans-serif;
    color: #353535;
    text-align: center;
}
.main-container .main-sec-title{
    position: absolute;
    top: 90px;
    right: 25px;
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Raleway', Calibri, Arial, sans-serif;
}
.main-sec{
    background-color: #f3f5f8;
    text-align: center;
}   
.main-sec .float-left{
    display: inline-block;
    width: 480px;
    height: 480px;
    position: absolute;
    left: 0px;
    background-image: url(../img/MagicFarm2_Panel%20copy.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-sec .float-right{
    display: inline-block;
    width: 480px;
    height: 480px;
    position: absolute;
    left: 480px;
}